*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive sans-serif;
}

.container{
    width: 50%;
    margin-top: 6em;
}

body{
    height: 100vh;
    background-image: url(images/bg4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto; 
}

#main-header{
    border-radius: 5px;
    width: 50%;
    margin: auto;
}

#header-title{
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 2px 2px 2px #030202;
}
#header-title img{
    float: right;
    width: 4rem;
    border-radius: 5px;
    filter: drop-shadow(1px 1px 1px black);
}

#main-body{
    width: 50%;
    margin: auto;
}

ul li{
    list-style: none;
    font-size: 1rem;
    padding:1rem;
    user-select: none;
    cursor: pointer;
    position: relative; /* because we added position absolute in before, then we add relative position here*/    
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 3px solid rgb(249,230,146);
}
span{
    display: 1 1 0%;
    width: 90%;
}

ul li::before{
    content: "";
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 1rem;
    left: -1rem;
    position: absolute;
}
ul li.checked{
    color: #8ac900;
    text-decoration: line-through;

}
ul li.checked::before{
    background-image: url(images/checked.png);
}

.actions{
    display: flex;
}
.actions button{
    margin-left: 0.5rem;
    font-weight: 700;
    font-size: 1rem;
    padding: 2px 6px;
}

#addButton{
    font-weight: 700;
}
.inputGroup{
    width: 50%;
    justify-content: center;
}

.container h3{
    font-size: 2rem;
    font-weight: 600;
    text-align: left;
    color: #595340;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 1rem;
}
.list-div{
    max-height: 300px;
    overflow: auto;
}

@media screen and (max-width:1200px){
    #main-header{
        /* border-radius: 5px; */
        width: 60%;
        margin: auto;
    }
    #main-body{
        width: 60%;
        margin: auto;
    }
}
@media screen and (max-width:995px){
    #main-header{
        /* border-radius: 5px; */
        width: 99%;
        margin: auto;
    }
    #main-body{
        width: 99%;
        margin: auto;
    }
}
@media screen and (max-width:575px){
    #main-header{
        /* border-radius: 5px; */
        width: 99%;
        margin: auto;
    }
    #main-body{
        width: 99%;
        margin: auto;
    }
    #addButton{
        margin-top: 8px;
    }
    #inputQty{
        margin-top: 8px;
    }
    #inputBudget{
        margin-top: 8px;
    }
    .container{
        margin-top: 3em;
    }
}
